.list-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  height: 10vh;
  width: 10vw;
  align-items: center;
  justify-content: center;
}

.categorySelected {
  border-color: rgba(0, 0, 0, 0.5);
}
