.list-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  height: 10vh;
  min-width: 100px;
  max-width: 300px;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

.categorySelected {
  border-color: rgba(0, 0, 0, 0.5);
}
